@()
@main("Play Websockets 101") {

    <h1>Play Websockets 101</h1>

      <!-- this is where the client and server output will be shown/appended -->
    <div id="message-content"></div>

      <!-- the textarea and button that make up our form -->
    <form>
      <label for="message-input">Message:</label>
      <textarea id="message-input" ></textarea>
      <button id="send-button" type="button">Send</button>
    </form>

    <div>
        <table class="arrows">
            <tr>
                <td></td>
                <td><button type="button" id="up">up</button></td>
                <td></td>
            </tr>
            <tr>
                <td><button type="button" id="left">left</button></td>
                <td><button type="button" id="down">down</button></td>
                <td><button type="button" id="right">right</button></td>
            </tr>
        </table>
    </div>



      <!-- we use jquery -->
    <script src="@routes.Assets.versioned("javascripts/jquery-3.6.1.min.js")"></script>

    <script>
            var webSocket;
            var messageInput;

            // initialize the WebSocket connection.
            // note that i hard-code the server-side URL here.
            function init() {
              webSocket = new WebSocket("ws://localhost:9000/ws");
              webSocket.onopen = onOpen;
              webSocket.onclose = onClose;
              webSocket.onmessage = onMessage;
              webSocket.onerror = onError;
              $("#message-input").focus();  // put initial input focus in the textarea
            }

            // debug code
            function onOpen(event) {
              consoleLog("CONNECTED");
            }

            // debug code
            function onClose(event) {
              consoleLog("DISCONNECTED");
              appendClientMessageToView(":", "DISCONNECTED");
            }

            // debug code
            function onError(event) {
              consoleLog("ERROR: " + event.data);
              consoleLog("ERROR: " + JSON.stringify(event));
            }

            // this is where we receive a message from the server over
            // the WebSocket connection
            function onMessage(event) {
              let receivedData = JSON.parse(event.data);
              // get the text from the "body" field of the json we
              // receive from the server
              appendServerMessageToView("Server", receivedData.body);
            }

            // append “client” messages to the `message-content` div above
            function appendClientMessageToView(title, message) {
              $("#message-content").append("<span>" + title + ": " + message + "<br /></span>");
            }

            // append “server” messages to the `message-content` div above
            function appendServerMessageToView(title, message) {
              $("#message-content").append("<span>" + title + ": " + message + "<br /><br /></span>");
            }

            // debug; log messages to the browser console
            function consoleLog(message) {
              console.log("New message: ", message);
            }

            // when the window is loaded, call the `init` function
            window.addEventListener("load", init, false);

            // when the “Send” button is clicked, do this

            document.getElementById('send-button').onclick = function () {
                console.log('aaasddfs')
              getMessageAndSendToServer();
              // put focus back in the textarea
              // $("#message-input").focus();
            };

            document.getElementById("left").onclick = () => {
                console.log("left pushed");
                sendMoveMessage("left");
            };
            document.getElementById("right").onclick = () => {
                console.log("right pushed");
                sendMoveMessage("right");
            };
            document.getElementById("up").onclick = () => {
                console.log("up pushed");
                sendMoveMessage("up");
            };
            document.getElementById("down").onclick = () => {
                console.log("down pushed");
                sendMoveMessage("down");
            };

            function sendMoveMessage(direction) {
                if(webSocket.readyState === WebSocket.OPEN) {
                    let msg = { "message": direction }
                    webSocket.send(JSON.stringify(msg));
                } else {
                    console.log("Could not send data because websocket is not open");
                }
            }

            document.addEventListener("keydown",
                event => {
                    switch (event.key) {
                        case "ArrowLeft":
                            console.log("left pressed");
                            sendMoveMessage("left");
                            break;
                        case "ArrowRight":
                            console.log("right pressed");
                            sendMoveMessage("right");
                            break;
                        case "ArrowUp":
                            console.log("up pressed");
                            sendMoveMessage("up");
                            break;
                        case "ArrowDown":
                            console.log("down pressed");
                            sendMoveMessage("down");
                            break;
                        default:
                            console.log("some key is pressed")
                            break;
                    }
                }
            );



            // also, act just like the Send button was clicked if the
            // user presses the <enter> key while in the textarea
            $(window).on("keydown", function (e) {
              if (e.which === 13) {
                getMessageAndSendToServer();
                return false;
              }
            });

            // there’s a lot going on here:
            // 1. get our message from the textarea.
            // 2. append that message to our view/div.
            // 3. create a json version of the message.
            // 4. send the message to the server.
            function getMessageAndSendToServer() {

              // get the text from the textarea
              messageInput = $("#message-input").val();
              // clear the textarea
              $("#message-input").val("");

              // if the trimmed message was blank, return
              if ($.trim(messageInput) === "") {
                return false;
              }

              // add the message to the view/div
              appendClientMessageToView("Me", messageInput);

              // create the message as json
              let jsonMessage = {
                message: messageInput
              };

              // send our json message to the server
              sendToServer(jsonMessage);
            }


            // send the data to the server using the WebSocket
            function sendToServer(jsonMessage) {
              if(webSocket.readyState === WebSocket.OPEN) {
                webSocket.send(JSON.stringify(jsonMessage));
              } else {
                consoleLog("Could not send data. Websocket is not open.");
              }
            }

    </script>
  }